body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.ol_bw {
    filter: grayscale(85%) brightness(1.1);
}

#map {
    flex-grow: 1;
    width: 100%;
    background-color: lightgray;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    height: 60px;
}

#navbar img {
    margin-right: 12px;
    height: 80%;
}

#navbar h1 {
    font-size: xx-large;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}